body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #f9faf8;
    background-color: #F9FAF8;
    margin: 0;
}



.logo {
    font-size: 24px;
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}



img {
    height: 120px;
    width: 150px;
}
.right img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}


.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 25px;
    border: transparent;
    border-radius: 5px;
}
.sign-up--outline {
    border: 2px solid white;
}



.container {
    max-width: 900px;
    margin: 0 auto;
}
.hero {
    background-color: #1f2937;
}




.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.container2 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-text {
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
}
.secondary-text {
    font-size: 18px;
    max-width: 450px;
    margin: 0px 0px 10px 0px;
}





.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.items{
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
}
.items > div {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.mid .container {
    background-color: #F9FAF8;
}



.quote {
    background-color: #E5E7EB;
}
.quote .container {
    max-width: 830px;
}
.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.quote-end {
    color: #1f2937;
    font-style: normal;
    font-weight: 900;
    text-align: right;
}


.action-main {
    font-weight: 900;
}
.action .container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 40px;
}


.hero .container2,
.mid,
.quote,
.action {
    padding: 70px 0px 70px 0px;
}

.footer {
    background-color: #1f2937;
    padding: 50px;
    text-align: center;
}